* {
    padding: 0;
    margin: 0;
}

body,
html,
p,
div,
ul,
li,
a {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

ul,
li {
    list-style: none;
}

body {
    font-family: "微软雅黑", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    overflow-x: hidden;
    background: #000;
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}

.content {
    background: #fff;
    padding-top: 3%;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.clearfix {
    zoom: 1;
}

.clearfix:after,
.container:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

img {
    border: none;
    vertical-align: top;
}

.text-center {
    text-align: center;
}


/*--header--*/
.ec-header{
    background-color: #2E2E2E;
}
.ec-header .head{
    color: #fff;
    display: -webkit-flex;
    /* Safari */
    display: flex;


}

.ec-header .logo {
    width:50%;
    padding: 1% 0;
}
.ec-header .nav {
    width:50%;
    padding: 1% 0;
}
.ec-header .logo a {
    display: inline-block;
    vertical-align: middle;
}

.ec-header .header-name {
vertical-align: middle;
font-size: 16px;
}
.ec-header .nav{
    display: -webkit-flex;
    /* Safari */
    display: flex; 
    justify-content:flex-end;
}
.ec-header .nav .menu{
   margin:0 1%;
   height: 40px;
   text-align: center;
}
.ec-header .shopping-cart {
    text-align: right;
    float: right;
    width: 35%;
}

.ec-header .shopping-cart .car {
    color: #fff;
    display: inline-block;
    position: relative;
}

.ec-header .shopping-cart .user {
    display: inline-block;
    width: 20px;
    border-radius: 10px;
    text-decoration: none;
    background: #fff;
    margin-right: 2%;
}

.ec-header .shopping-cart .user img {
    width: 100%;
    border-radius: 10px;
    border: none;
    vertical-align: bottom;
}

.ec-header .shopping-cart .car em {
    font-size: 0.9rem;
    font-style: normal;
    padding-right: 3px;
}

.ec-header .shopping-cart .icon-gouwuche1 {
    padding-left: 3px;
    font-size: 18px;
}

.ec-header .shopping-cart .num {
    position: absolute;
    right: -7px;
    top: -2px;
    padding: 0 4px;
    background: #cf2730;
    border-radius: 10px;
    font-size: 10px;
}

.flexbox {
    display: -webkit-flex;
    /* Safari */
    display: flex;
    flex-direction: row;
    /*     align-items:stretch; */
    flex-wrap: wrap;
    width: 100%;
    margin-top: 1%;
}

.flexbox .innerbox {
    margin: 1%;
    padding: 1.5%;
    border: 1px solid #e5e5e5;
    width: 44%;
    background: #fff;
    transition: 0.5s ease-in;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
}

.flexbox .innerbox:hover {
    background: #333;
    color: #fff;
}

.flexbox .innerbox .desc {
    color: #999;
    margin-top: 3%;
    text-indent: 2em;
    line-height: 170%;
}

.flexbox .innerflex {
    display: -webkit-flex;
    /* Safari */
    display: flex;
    align-items: center;
}

.flexbox .innerflex img {
    width: 60px;
}

.flexbox .innerflex h3 {
    margin-left: 2%;
}

.btncon {
    text-align: center;
    color: #fff;
    margin: 3% 0;
}

.btn {
    display: inline-block;
    padding: 3px 10px;
    border-radius: 5px;
}

.btn-green {
    background: #8fb13d;
    color: #fff;
}

.btn-green:hover {
    -webkit-animation-name: swing;
    animation-name: swing;
}

.flowcon {
    margin-top: 3%;
    /*一个内容层*/
}

.flowcon label.line {
    width: 150px;
    height: 2px;
    display: block;
    background: #8fb13d;
    border-radius: 10px;
    margin: 0.2em auto;
}

.flowcon h3 {
    font-size: 26px;
    line-height: 1.8em;
    text-align: center;
    color: #2e2e2e;
    font-weight: normal;
}

.flowcon .flowflex {
    -moz-column-count: 2;
    /* Firefox */
    -webkit-column-count: 2;
    /* Safari 和 Chrome */
    column-count: 2;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
    margin: 1% 1% 2% 1%;
}

.flowcon .item {
    padding: 0.4em;
    margin: 0 0 1em 0;
    -moz-page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    border: 1px solid #e5e5e5;
}

.flowcon .item img {
    width: 100%;
    cursor: pointer;
    transition: all 0.6s;
}

.flowcon .item img:hover {
    transform: scale(1.2);
}

.flowcon .pro-name {
    font-size: 16px;
}

.flowcon .pro-desc {
    font-size: 14px;
    color: #999;
    margin: 7px 0;
    position: relative;
    line-height: 20px;
    max-height: 40px;
    overflow: hidden
}

.pro-desc::after {
    content: "...";
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 40px;
    background: -webkit-linear-gradient(left, transparent, #fff 55%);
    background: -o-linear-gradient(right, transparent, #fff 55%);
    background: -moz-linear-gradient(right, transparent, #fff 55%);
    background: linear-gradient(to right, transparent, #fff 55%);
}

.pro-price {
    margin-bottom: 10px;
}

.pro-price .tp em {
    font-size: 12px;
    font-style: normal;
    color: #555;
}

.pro-price .tp {
    font-size: 20px;
    color: #8fb13d;
}

.pro-price .op {
    font-size: 12px;
    padding-left: 7px;
    color: #999;
    text-decoration: line-through;
}

.flowcon .imgcon {
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
}


/*footer*/

.footer .footer-middle {
    background: #1F1F1F;
    padding: 3% 0;
    color: #B3B3B3;
}

.footer .footer-middle label.line {
    width: 100px;
    height: 2px;
    display: block;
    background: #8fb13d;
    border-radius: 10px;
    margin: 0.2em auto;
}

.footer .footer-middle h3 {
    font-size: 26px;
    color: #fff;
    line-height: 1.8em;
    text-align: center;
    font-weight: normal;
}

.footer .footer-middle .map {
    margin-top: 3%;
}

.footer .footer-middle h4 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 2%;
}

.footer .footer-middle .flexcon {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 3%;
    justify-content: center;
}

.footer .footer-middle .flexcon .wrap {
    margin: 1%;
    padding: 1.5%;
    width: 44%;
}

.footer .footer-middle .flexcon form input[type="text"],
.footer .footer-middle .flexcon form input[type="number"] {
    width: 100%;
    padding: 3% 0;
    font-weight: 600;
    text-indent: 20px;
    color: #616161;
    outline: none;
    border: solid 1px #747576;
    margin-bottom: 2.5%;
    background: none;
}

.footer .footer-middle .flexcon form textarea {
    width: 100%;
    resize: none;
    padding: 3% 0;
    font-weight: 600;
    text-indent: 20px;
    color: #616161;
    outline: none;
    border: solid 1px #747576;
    margin-bottom: 5%;
    background: none;
    min-height: 120px;
}

.footer .footer-middle .flexcon form input[type="submit"] {
    padding: 6px 30px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 300;
    border: none;
}

.footer .footer-middle .iconfont {
    font-size: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

.footer .footer-bottom {
    background: #000;
    padding: 1em 0;
    text-align: center;
    color: #777;
}

.footer .footer-bottom a {
    color: #8fb13d;
}

.footer .footer-bottom a:hover {
    color: #fff;
}


/*滚动*/

.img-container {
    width: 100%;
    margin: 0 auto;
}

.img-container .img_scroll {
    width: 100%;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    z-index: 99;
    background: #f3f3f3;
}

.img-container .rollbtn_type .roll_btn {
    width: 5%;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    font-size: 3rem;
}

.img-container .rollbtn_type .prev:before,
.img-container .rollbtn_type .next:before {
    background: none;
    font-family: "iconfont" !important;
    cursor: pointer;
}

.img-container .rollbtn_type .next:before {
    content: "\e608";
    position: absolute;
    right: 0;
}

.img-container .rollbtn_type .prev:before {
    content: "\e609";
    position: absolute;
    left: 0;
}

.img-container .rollbtn_type .prev {
    position: absolute;
    left: 2%;
    top: 37%;
    z-index: 100;
}

.img-container .rollbtn_type .next {
    position: absolute;
    right: 2%;
    top: 37%;
    z-index: 100;
}

.img-container .slidebg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
}

.img-container .img-list {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.img-container .img-list ul {
    width: 9999px;
}

.img-container .img_scroll .img-list li {
    float: left;
}

.img-container .JQ-slide-nav {
    position: absolute;
    bottom: 10px;
    right: 5px;
    height: 10px;
    z-index: 1;
    width: 100%;
    text-align: center;
}

.img-container .JQ-slide-nav li {
    width: 8px;
    height: 8px;
    margin: 0 2px;
    border-radius: 4px;
    background: #8fb13d;
    display: inline-block;
}

.img-container .JQ-slide-nav li.on {
    background: #ec9f1e;
}


/*查询*/

.search-con {
    line-height: normal;
    display: inline-table;
    width: 70%;
    border-collapse: separate;
    border-spacing: 0;
    margin: 1%;
    display: inline-table;

}

#selected {
    display: block;
    width: 150px;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 20px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.search-con input {
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 15px;
    /* transition: border-color .2s cubic-bezier(.645,.045,.355,1); */
    width: 100%;
}

.search-con .search input:focus {
    border-color: #3a8ee6;
}

.search-con .btnSearch button {
    border-color: transparent;
    background-color: transparent;
    color: inherit;
    border-top: 0;
    border-bottom: 0;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    font-size: 14px;
}

.search-con .btnSearch {
    background-color: #f5f7fa;
    color: #909399;
    vertical-align: middle;
    display: table-cell;
    position: relative;
    border: 1px solid #dcdfe6;
    border-left: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0 15px;
    width: 1px;
    white-space: nowrap;
}


/*end-查询*/

@media (max-width: 390px) {

    .flowcon label.line {
        width: 100px;
    }

    .flowcon h3 {
        font-size: 20px;
    }

    .flowcon .flowflex {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }


    .footer .footer-middle label.line {
        width: 80px;
    }

    .footer .footer-middle h3 {
        font-size: 20px;
    }

    .footer .footer-middle .flexcon .wrap {
        width: 96%;
    }

    .footer .footer-bottom {
        font-size: 12px;
    }
}

@media (max-width: 568px) {


    .flowcon label.line {
        width: 90px;
    }

    .flowcon h3 {
        font-size: 24px;
    }

    /* .flowcon .flowflex {
        -moz-column-count: 1;

        -webkit-column-count: 1;
     
        column-count: 1;
    } */
    .flowcon .pro-name {
        font-size: 14px;
    }

    .flowcon .pro-desc {
        font-size: 12px;
    }

    .footer .footer-middle label.line {
        width: 90px;
    }

    .footer .footer-middle h3 {
        font-size: 24px;
    }

    .footer .footer-middle .flexcon .wrap {
        width: 96%;
    }

    .search-con {
        width: 98%;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }

}

@media (min-width: 1000px) {


    .container {
        width: 970px;
    }

    .flowcon label.line {
        width: 100px;
    }

    .flowcon h3 {
        font-size: 30px;
    }

    .flowcon .flowflex {
        -moz-column-count: 4;
        /* Firefox */
        -webkit-column-count: 4;
        /* Safari 和 Chrome */
        column-count: 4;
    }

    .footer .footer-middle label.line {
        width: 100px;
    }

    .footer .footer-middle h3 {
        font-size: 30px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}